<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    <input id="nametemp" />
</div>

@code {

    /*[Parameter]
    public Dictionary<string, Object> InputAttribbutes { get; set; } = new Dictionary<string, Object>()
    {
        {"required", "required"},
        {"placeholder", "Enter Name Children"},
        {"maxlength", 50 }
    }; */

}
